html {
	overflow: hidden;
	height: 100%;
}
.one video {
	object-fit: cover;
}
.localVideo {
	width: 20%;
	position: absolute;
	z-index: 2;
	bottom: 10px;
	left: 10px;
	display: block;
}
.remoteVideos {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.remoteVideos video {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0px;
	min-height: 0px;
}
body {
  background-color: black;
  margin: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.callend{
  z-index: 2;
    position: absolute;
    left: 280px;
    bottom: 0;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: tomato;
    color: white;
    font-size: 20px;
    margin-bottom:15px;
}
#mute{
  left:1%;
  background-color: #3399cc;
}
#unmute{
  display:none;
  left:1%;
  background-color: #3399cc;
}